body{
    text-transform: uppercase;
}
#conversion_divisas{
    width: 100%;
    border-radius: 5px;
    border: none;
}

#conversion_divisas:active, #conversion_divisas:focus,#conversion_Cantidad:active,#conversion_Cantidad:focus{
    border: none !important;
}

#conversion_Cantidad{
    width: 100%;
    border-radius: 5px;
    border: none;
}
#conversion_Convertir{
margin-top: 1rem;
border: none;
background-color: rgb(7, 72, 94);
color: white;
text-transform: uppercase;
padding: 5px 5px;
}
#conversion_Convertir:hover{
    background-color: rgb(6, 92, 121);
}
.contenedor{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
